<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> -->
 <web-app>

	 <servlet>
		<servlet-class>net.lukemurphey.nsia.web.DefaultServlet</servlet-class>
		<servlet-name>Default</servlet-name>
	 </servlet> 

	 <servlet-mapping>
		<servlet-name>Default</servlet-name>
		<url-pattern>/media/*</url-pattern>
	 </servlet-mapping>

     <servlet>
        <servlet-class>net.lukemurphey.nsia.web.WebConsoleServlet</servlet-class>
        <servlet-name>WebConsole</servlet-name>
     </servlet>

     <servlet-mapping>
        <servlet-name>WebConsole</servlet-name>
        <url-pattern>/</url-pattern>
     </servlet-mapping>

	 <servlet>
		 <servlet-class>net.lukemurphey.nsia.xmlRpcInterface.XmlrpcServlet</servlet-class>
		 <servlet-name>xml-rpc</servlet-name>
	 </servlet>
	 
	 <servlet-mapping>
		 <servlet-name>xml-rpc</servlet-name>
		 <url-pattern>/xml-rpc</url-pattern>
	 </servlet-mapping>

	 <servlet>
		 <servlet-class>net.lukemurphey.nsia.htmlInterface.GraphServlet</servlet-class>
		 <servlet-name>GraphServlet</servlet-name>
		 <load-on-startup>1</load-on-startup>
	 </servlet>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/StatusGraph.png</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/RulesEvalGraph.png</url-pattern>
	 </servlet-mapping>

	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/StatusGraph</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/RulesEvalGraph</url-pattern>
	 </servlet-mapping>

	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/RuleScanHistory</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/RuleScanHistory.png</url-pattern>
	 </servlet-mapping>

	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/ContentTypeResults</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/ContentTypeResults.png</url-pattern>
	 </servlet-mapping>

	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/SeverityResults</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/SeverityResults.png</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/ServiceScanDeviations</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/ServiceScanDeviations.png</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/UDPSummary</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/UDPSummary.png</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/TCPSummary</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/TCPSummary.png</url-pattern>
	 </servlet-mapping>
	 
	 <servlet-mapping>
		 <servlet-name>GraphServlet</servlet-name>
		 <url-pattern>/graph/*</url-pattern>
	 </servlet-mapping>
</web-app>
